header {
    position: fixed;
    top: 0;
    vertical-align: middle;
    width: 100%;
    height: 59px;
    background-color: #FF7502;
    text-align: center;
    color: rgb(255, 255, 255);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FF7502;
}

footer p {
    text-align: center;
    font-size: 14px;
    padding: .5em .25em .5em 1em;
    color:rgb(255,255,255);
    margin: 0;
}

.wrapper {
    position: relative;
}

#menu {
    float:left;
    width:25%;
    height: 600px;
    border-right: 1px solid #FF7502;
}

.col-md-2 h2 {
    text-align: center;
    font-size: 24px;
}

.col-md-2 hr {
    size: 2px;
    color: #FF7502;
}

.container {
    position: absolute;
    top: 100px;
    overflow: hidden;
}

#tables {
    float:left;
    width:75%;
    height: 600px;
}

.table, .alert {
    margin-bottom: 0;
}